:root {
    --lightblue: #3de7f5;
    --white: #fff;
    --pink: #fecfe1;
    --midpink: #c06d92;
    --darkpink: #7f003d;
}

.main-background {
    background-color: var(--lightblue);
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
    overflow-x: hidden;
    min-height: 100vh;
    /* If you want to change the site height you can remove overflow-y */
    /* pureSnow will automatically detect height of body tag */
    overflow-y: hidden;
    color: var(--white);
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(var(--white), var(--white));
    /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px var(--white));
}

.btn-pink {
    background-color: var(--pink);
    color: var(--darkpink);
    transition: all 0.1s;
    font-family: "Pacifico", sans-serif;
    font-size: 30px;
}

.nav-bg {
    background-color: var(--pink);
    padding-bottom: 45px;
}

.nav-link:active{
    font-size: 15px;
    color: var(--white);
}

.nav-link {
    color: var(--darkpink);
    font-family: "Pacifico", sans-serif;
}

.nav-link:hover {
    box-shadow: 2px 2px 5px var(--darkpink);
    color: var(--white);
}



#welcome-btn:hover {
    background-color: var(--pink);
    box-shadow: 5px 5px 5px var(--midpink);
}

#welcome-btn:active {
    background-color: var(--pink);
    box-shadow: 2px 2px 5px var(--darkpink);
    transform: translateY(4px);
}

#logo {
    position: fixed;
    top: 10px;
    left: 20px;
    height: 50px;
    width: 50px;
}

#navdisplay {
    display: none;
}

.navbar-nav {
    float: right;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}